*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #1a1a1a;
    color: antiquewhite;
}
.nav-container{
    margin-bottom: 40px;
}

.nav-1{
    background-color: #dedede;
    padding: 5px;
}

.nav-1 ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-1 li{
    display: inline;
}
.nav-1 a{
  text-decoration: none;
  color: #1d1d1d;
  /* background-color: rgb(232, 167, 48); */
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
}

.nav-1 .login-btn{
    background-color: #3d2ec2;
    color: white;
    padding: 5px 15px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-1 a::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    transform: scaleX(0);
    background-color: #3d2ec2;
    transition: transform 0.3s ease;
}

.nav-1 a:hover::after{
    transform: scaleX(1);
}

.nav-2{
    background-color: #343a40;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

.nav-2 ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-2 li{
    margin-bottom: 12px;
}

.nav-2 a{
    text-decoration: none;
    color: #f8f9fa;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-2 a:hover{
    background-color: #495057;
    color: #f8f9fa;
}

.nav-2 .login-btn{
    background-color: #3d2ec2;
    color: white;
    padding: 10px 15px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.nav-2 .login-btn:hover{
    background-color: #1e1a32;
}

.nav-3{
    background-color: rgb(81, 44, 59);
    padding: 10px;
}

.nav-3 ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-3 li{
    margin: 0 10px;
}

.nav-3 a{
    text-decoration: none;
    color: #f8f9fa;
    padding: 10px 15px;
    display: block;
}

.nav-3 .dropdown-content{
    display: none;
}

.nav-3 .dropdown:hover .dropdown-content{
    display: block;
    position: absolute;
    background-color: rgb(121, 66, 88);
}